ENV['USER_AGENT'] = ''
ENV['REMAX_COOKIE'] = ''
ENV['REMAX_DETAILED_COOKIE'] = ''
ENV['ZOLO_COOKIE'] = ''

ENV['PURPLE_BRICKS_COOKIE'] = ''

# heroku config:add USER_AGENT=''
# heroku config:add REMAX_COOKIE=''
# heroku config:add ZOLO_COOKIE=''
# heroku config:add REMAX_DETAILED_COOKIE=''
